class-registry==2.1.2
Django==2.2.28
django-debug-toolbar==3.2.1
django-filter==2.4.0
django-rest-authtoken==2.1.3
django-rest-framework==0.1.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
filters==1.3.2
gunicorn==20.0.4
Pillow==9.0.1
PyJWT==2.0.0
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
simplejwt==2.0.1
six==1.15.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
typing==3.7.4.3
