{% extends "base.html" %}
{% block title %}Мои посты{{post_author}}{% endblock %}
{% block header %}Моя страничка постов{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
         {% include "includes/author_card.html" %}
        <div class="col-md-9">
             {% for post in page %}
                  {% include "includes/post_card.html" with view="profile" %}
             {% endfor %}

             {% if page.has_other_pages %}
                {% include "includes/paginator.html" with items=page paginator=paginator %}
             {% endif %}
        </div>
    </div>
</main>

{% endblock %}